.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  margin:10px;
}

.Header-text {
  width: 25%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FF6D00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: #eee;
  font-family: 'Sen', sans-serif;
  font-size: 3vmin;
  background: linear-gradient(-45deg, #801100, #B62203, #D73502, #FC6400);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #FF6D00;
  color: #FF6D00;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
  text-decoration: none;
  width: 250px;
}

.btn:hover {
  background: #FF6D00;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

.Footer-div {
  margin:15px;
}

.Footer-text {
  font-size: 10px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}