.lrc-root {
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* top: 0; */
  /* left: 0; */

  display: flex;
  flex-direction: column;
}

.lrc-box {
  /* display: block; */
  /* max-height: 300px; */
  /* overflow: auto; */
  /* padding: 2rem; */
  /* position: relative; */

  /* flex: 1; */
  /* min-height: 0; */

  /* &::before {
    content: "";
    width: 100%;
    height: 1px;

    position: absolute;
    top: 50%;
    left: 0;

    background: rgb(255 0 0 / 0.15);
  } */
}

.lrc-box > div {
  max-height: 200px;
}

div.lyric > .time {
  color: orange;
  font-family: monospace;
}

.app {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

.welcome > button {
  margin-top: 20px;
}

.welcome > a {
  margin-top: 20px;

  text-align: center;
}

.freestyle,
.visualizer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.freestyle > button,
.visualizer > button {
  margin-top: 20px;
}

.output {
  height: 30%;
  width: 70%;
  overflow: scroll;

  margin-bottom: 20px;
}

.freestyle > textarea {
  width: 70%;

  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 30px 0 30px 0;
}

.loading {
  margin-top: 20px;
}

.rap-wrapper {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

/**
 * Below here is old, scary CSS. Try to delete, ASAP.
 */

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff6d00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #eee;
  font-family: "Sen", sans-serif;
  font-size: 3vmin;
  background: linear-gradient(-45deg, #801100, #b62203, #d73502, #fc6400);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #ff6d00;
  color: #ff6d00;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  transition: all 0.25s ease;
  text-decoration: none;
  width: 250px;
  margin: 1rem;
}

.btn:hover {
  background: #ff6d00;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Background **/

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 20%;
  z-index: 1;
  flex-direction: column;
  margin-left: 25px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;

  margin-bottom: 10px;
}

.footer-text {
  font-size: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flex-column {
  display: flex;
  flex-direction: row;
}

input {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 30px 0 30px 0;
}

.output {
  overflow-y: scroll;
  height: 45vh;
  margin-right: 25px;
  margin-top: 25px;
}

.Enter-bars {
  display: block;
}

.Exit-bars {
  display: block;
}

.visualizer {
  flex-grow: 1;
  margin-top: 15px;
}

.MuiCircularProgress-indeterminate {
  width: 35px !important;
  height: 35px !important;
  position: relative !important;
  top: 9px !important;
  color: inherit;
}
